GCP_PROJECT_ID=test-12345
GCP_BUCKET_ID=test-12345

AWS_S3_ACCESS_KEY_ID=test-12345
AWS_S3_SECRET_ACCESS_KEY=test-12345
AWS_S3_BUCKET_NAME=test-12345

INSTAGRAM_USERNAME=test-12345
INSTAGRAM_PASSWORD=test-12345!