GCP_PROJECT_ID=your-project-name
GCP_BUCKET_ID=your-project-name
GCP_KEYFILE_JSON=example-keyfile.json

AWS_S3_ACCESS_KEY_ID=yourkey
AWS_S3_SECRET_ACCESS_KEY=yourkey
AWS_S3_BUCKET_NAME=yourbucket

INSTAGRAM_USERNAME=yourlogin
INSTAGRAM_PASSWORD=yourpassword